@model Concessionaria.Models.Veiculo

@{
    ViewData["Title"] = "Relatorios";
}

<h2>Relatório</h2>
<br />
<div class="row">
    <h4>Veículo mais vendido</h4>
    <br />
    <div class="col-md-4">
        <form asp-action="Relatorios">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div><br />
            <div class="form-group">
                <label asp-for="Modelo" class="control-label"></label>
                <input asp-for="Modelo" class="form-control" />
            </div><br />
        </form>
    </div>
</div>
<div>
    <br />
    <a asp-action="Index">Voltar para lista</a>
</div>